mat-chip {
  font-size: 0.75rem;
  padding: 4px 12px;
}

textarea {
  &:focus {
    outline: none;
  }
  
  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

button[mat-raised-button][disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
